.node-label {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 0 16px;
}

.node-label p {
  margin-right: 16px;
}

.none-label p,
span {
  font-weight: 500;
}

.tree-node {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.node-actions button {
  margin: 4px;
}

.delete-icon {
  color: red;
  font-size: 24px;
  cursor: pointer;
}

.move-icon {
  color: #000063;
  font-size: 24px;
  cursor: pointer;
}
